<section style="outline: 1px solid #000; background: #999999; color: #000; text-shadow: none; padding: 12px 8px 8px 8px; margin-top: 16px;">
  <h2>Sobre el Héctor</h2>
  <p>¡Hola! Este es mi blog aprendiendo a usar y manipular <a href="http://octopress.org/" title="Ir a la web de Octopress">Octopress</a>. Iré posteando sobre eso y lo que se relacione con lo que me interesa</p>
	<h3>Contacto</h3>
  <span>Si deseas contactarme, puede ser por:</span>
  <ul>
  	<li>
  		<a href="https://twitter.com/intent/tweet?screen_name=Zentaurus" class="twitter-mention-button" data-lang="es" data-related="Zentaurus">Tweet to @Zentaurus</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  	</li>
  	<li>
  		Escribe a mi <a href="mailto:hector@palmatellez.cl?subject=Contacto%20desde%20Octopress">correo electrónico</a>.
  	</li>
  	<li style="color: #333333;">
  		Cualquier otra cuestión que genere una notificación que yo pueda ver algún día cercano también sirve.
  	</li>
  </ul>
</section>
