<section style="outline: 1px solid #000; background: #999999; color: #000; text-shadow: none; padding: 12px 8px 8px 8px; margin-top: 16px;">
  <h2>Sobre el Héctor</h2>
  <p>¡Hola! Este es mi blog aprendiendo a usar y manipular <a href="http://octopress.org/" title="Ir a la web de Octopress">Octopress</a>. Iré posteando sobre eso y lo que se relacione con lo que me interesa</p>
	<h3>Contacto</h3>
  <span>Si deseas contactarme, usa el botón de emergencia:</span>
  <ul>
  	<li>
  		<a href="https://twitter.com/intent/tweet?screen_name=Zentaurus" class="twitter-mention-button" data-lang="es" data-related="Zentaurus">Tuitearle al @Zentaurus</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  	</li>
  	<li>
  		Escribe a mi <a href="mailto:hector@palmatellez.cl?subject=Contacto%20desde%20Octopress">correo electrónico</a>.
  	</li>
  </ul>
  <section class="iconos">
    <span>En las redes: </span>
      <a href="http://twitter.com/Zentaurus">
        <span class="icon-twitter" title="Twitter"></span>
      </a>
      <a href="http://facebook.com/Zentaurus">
        <span class="icon-facebook" title="Facebook"></span>
      </a>
      <a href="http://foursquare.com/Zentaurus">
        <span class="icon-foursquare" title="Foursquare"></span>
      </a>
      <a href="http://cl.linkedin.com/in/hectorpalmatellez">
        <span class="icon-linkedin" title="LinkedIn"></span>
      </a>
      <a href="http://last.fm/user/zentaurus0">
        <span class="icon-lastfm" title="Last FM"></span>
      </a>
      <a href="https://bitbucket.org/hectorpalmatellez">
        <span class="icon-bitbucket" title="Bitbucket"></span>
      </a>
      <a href="https://github.com/hectorpalmatellez">
        <span class="icon-github" title="GitHub"></span>
      </a>
    </section>
</section>
