	<section class="licencia left">
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.es_CL" style="text-decoration:none;">
			<img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" />
		</a>
		<span class="left">Con licencia para matar contenidos.</span>
	</section>
  		<span class="credit">Usando <a href="http://octopress.org">Octopress</a>, como los que duermen poquito.</span>
  	<section class="iconos right">
  		<a href="http://twitter.com/Zentaurus">
  			<span class="icon-twitter" title="Twitter"></span>
  		</a>
  		<a href="http://facebook.com/Zentaurus">
  			<span class="icon-facebook" title="Facebook"></span>
  		</a>
  		<a href="http://foursquare.com/Zentaurus">
  			<span class="icon-foursquare" title="Foursquare"></span>
  		</a>
  		<a href="http://cl.linkedin.com/in/hectorpalmatellez">
  			<span class="icon-linkedin" title="LinkedIn"></span>
  		</a>
  		<a href="http://last.fm/user/zentaurus0">
  			<span class="icon-lastfm" title="Last FM"></span>
  		</a>
  		<a href="https://bitbucket.org/hectorpalmatellez">
  			<span class="icon-bitbucket" title="Bitbucket"></span>
  		</a>
  	</section>


