// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: url("/images/line-tile.png?1363143387") repeat scroll left top #CCCCCC;
}
	header {
		text-align: center;
		background: url("http://666.tiuque.cl/tiuque.png");
	}