// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: url("/images/line-tile.png?1363143387") repeat scroll left top #CCCCCC;
}
	// Apuntando al header del sitio y no al header de cada artículo
	body > header {
		text-align: center;
		background: url("/images/tiuque.png") left center no-repeat #2D75C8 !important;
	}
	h1.entry-title {
		font-size: 2.4em !important;
	}